{% extends 'office/base.html' %}

    {% block title %}<title>Contact</title>  {% endblock %}

    {% block content %}
        <h1> Contacts Home</h1>
        <table>
            <tr>
                <th>Name </th>
                <th>Phone </th>
                <th>Email </th>
                <th>Company </th>
            </tr>
            {% for contact in contacts %}
            <tr>
                <td> {{ contact.fullname }} </td>
                <td> {{ contact.phone }} </td>
                <td> {{ contact.email }} </td>
                <td> {{ contact.company.name }} </td>
                <td><a href="{% url 'office:contact-detail' slug=contact.slug %}">voir</a></td>
            </tr>
            {% endfor %}
        </table>

    {% endblock %}