{% extends 'base.html' %}

    {% block title %}
        <title>{{contact.name}}</title>
    {% endblock %}

    {% block content %}
        <h1> Contact : {{contact.fullname}}</h1>

        {% if request.user.is_authenticated %}
            <ul>
                <li><a href="{% url 'office:contact-edit' slug=contact.slug %}">| edit</a></li>
                <li><a href="{% url 'office:contact-delete' slug=contact.slug %}">| supprimer</a></li>
            </ul>
        {% endif %}

        <table>
            <tr>
                <td>Contact :</td><td> {{ contact.fullname }} </td>
            </tr>
            <tr>
                <td>Company :</td><td> {{ contact.company }} </td><td><a href="{% url 'office:company-detail' slug=contact.company.slug %}">| voir</a></td>
            </tr>
            <tr>
                <td>Email :</td><td> {{ contact.email }} </td>
            </tr>
            <tr>
                <td>Phone :</td><td> {{ contact.phone }} </td>
            </tr>
        </table>

        <hr>

        <h2>Contact pour les factures :</h2>
        {% if invoices %}
            <table>
                <tr>
                    <th>N° facture </th>
                    <th>Date </th>
                </tr>
                {% for invoice in invoices %}
                <tr>
                    <td> {{ invoice.number}} </td>
                    <td> {{ invoice.date}} </td>
                    <td><a href="{% url 'office:invoice-detail' pk=invoice.id %}">| voir</a></td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
            <a href="{% url 'office:invoice-create' %}">+ nouvelle facture</a>
        {% endif %}
    {% endblock %}