{% extends 'base.html' %}

    {% block title %}
        <title>Déconnexion</title>
    {% endblock %}

    {% block content %}
        <h1>Déconnexion</h1>

        <p>Merci pour votre visite! <br/><br/>

            Vous allez être redirigé vers la page d'accueil dans <span id="chrono"></span>
        </p>

        <script>
            var cpt = 5 ;
            var x ;
            
            function decompte(){
                if(cpt>0){
                    document.getElementById("chrono").innerHTML = `${cpt} seconde${cpt > 1 ? 's': ''}...`;
                    cpt-- ;
                    x = setTimeout("decompte()",1000) ;
                }else{
                    clearTimeout(x) ;
                    window.location.href ="{% url 'home' %}";
                }
            }
            decompte()
        </script>
    {% endblock %}