{% extends 'base.html' %}

    {% block title %}
        <title>Déconnexion</title>
    {% endblock %}

    {% block content %}
        <h1>Déconnexion</h1>

        <p>Merci pour votre visite. <br/>
            Vous allez être rediriger vers la page d'accueil dans <span id="chrono"></span>
        </p>

        <script>
            var cpt = 5 ;
            var x ;
            
            function decompte(){
                if(cpt>=0){
                    if(cpt>1)
                    {
                        var sec = " secondes.";
                    } else {
                        var sec = " seconde.";
                    }
                    document.getElementById("chrono").innerHTML = cpt + sec ;
                    cpt-- ;
                    x = setTimeout("decompte()",1000) ;
                }else{
                    clearTimeout(x) ;
                    window.location.href ="{% url 'home' %}";
                }
            }
            decompte()
        </script>
    {% endblock %}