{% extends 'office/base.html' %}

    {% block title %}<title>Invoice</title>  {% endblock %}

    {% block content %}
        <h1> Invoices Home</h1>
        <table>
            <tr>
                <th>Number </th>
                <th>Date </th>
                <th>Company </th>
                <th>Contact </th>
            </tr>
            {% for invoice in invoices %}
            <tr>
                <td> {{ invoice.number }} </td>
                <td> {{ invoice.date }} </td>
                <td> {{ invoice.company }} </td>
                <td> {{ invoice.contact }} </td>
            </tr>
            {% endfor %}
        </table>
    {% endblock %}