{% extends 'office/base.html' %}

    {% block title %}<title>Invoice</title>  {% endblock %}

    {% block content %}
        <h1> Invoices Home</h1>
        <table>
            {% for invoice in invoices %}
            <tr>
                <td>Number : {{ invoice.number }}</td>
                <td>Date : {{ invoice.date }}</td>
                <td>Company : {{ invoice.company }}</td>
                <td>Contact : {{ invoice.contact }}</td>
            </tr>
            {% endfor %}
        </table>
    {% endblock %}