{% extends 'office/base.html' %}

    {% block title %}
        <title>{{ invoice.number }}</title>
    {% endblock %}

    {% block content %}
        <h1> Facture : {{ invoice.number }}</h1>

        {% if request.user.is_authenticated %}
            <ul>
                <li><a href="{% url 'office:invoice-edit' pk=invoice.id %}">| edit</a></li>
                <li><a href="{% url 'office:invoice-delete' pk=invoice.id %}">| supprimer</a></li>
            </ul>
        {% endif %}

        <p>Date : {{ invoice.date }}</p>

        <h3>Société liée à la facture </h3>

           <table>
                <tr>
                    <th>Nom </th>
                    <th>TVA </th>
                    <th>Type de société </th>
                </tr>
                <tr>
                    <td> {{ company.name }} </td>
                    <td> {{ company.vat_number }} </td>
                    <td> {{ company.type_value }} </td>
                </tr>
           </table>

        <h3>Personne de contact </h3>
            <table>
                <tr>
                    <th>Nom </th>
                    <th>Phone </th>
                    <th>Email </th>
                </tr>
                    <tr>
                        <td> {{ contact.fullname}} </td>
                        <td> {{ contact.phone}} </td>
                        <td> {{ contact.email}} </td>
                    </tr>
            </table>
    {% endblock %}