{% extends 'base.html' %}

    {% block title %}
        <title>{{company.name}}</title>
    {% endblock %}

    {% block content %}
        <h1>Société : {{company.name}}</h1>

        {% if request.user.is_admin %}
            <ul>
                <li><a href="{% url 'office:company-edit' slug=company.slug %}">| edit</a></li>
                <li><a href="{% url 'office:company-delete' slug=company.slug %}">| supprimer</a></li>
            </ul>
        {% endif %}

        <table>
            <tr>
                <td>N° TVA :</td><td> {{ company.vat_number }} </td>
            </tr>
            <tr>
                <td>Pays :</td><td> {{ company.country_value }} </td>
            </tr>
            <tr>
                <td>Type :</td><td> {{ company.type_value }} </td>
            </tr>
        </table>
        <hr>
        <h2>Personnes de contact </h2>
        {% if contacts %}
            <table>
                <tr>
                    <th>Nom </th>
                    <th>Phone </th>
                    <th>Email </th>
                </tr>
                    {% for contact in contacts %}
                        <tr>
                            <td> {{ contact.fullname}} </td>
                            <td> {{ contact.phone}} </td>
                            <td> {{ contact.email}} </td>
                            <td><a href="{% url 'office:contact-detail' slug=contact.slug %}">| voir</a></td>
                        </tr>
                    {% endfor %}
            </table>
        {% else %}
            <a href="{% url 'office:contact-create' %}">+ nouveau contact</a>
        {% endif %}
        <hr>
        <h2>Factures :</h2>
        {% if invoices %}
            <table>
                <tr>
                    <th>N° facture </th>
                    <th>Date </th>
                    <th>Personne de contact </th>
                </tr>

                {% for invoice in invoices %}
                    <tr>
                        <td> {{ invoice.number}} </td>
                        <td> {{ invoice.date}} </td>
                        {% for contact in contacts %}
                            {% if invoice.contact_id == contact.id %}
                                <td> {{ contact.fullname }} </td>
                            {% endif %}
                        {% endfor %}
                        <td><a href="{% url 'office:invoice-detail' pk=invoice.id %}">| voir</a></td>
                    </tr>
                {% endfor %}
            </table>
        {% elif contacts %}
            <a href="{% url 'office:invoice-create' %}">+ nouvelle factures</a>
        {% else %}
            <p>Veuillez ajouter un nouveau contact pour la société {{company.name }} afin de créer une nouvelle facture</p>
        {% endif %}

    {% endblock %}