{% extends 'office/base.html' %}

    {% block title %}
        <title>Company</title>
    {% endblock %}

    {% block content %}
        <h1> Company Home</h1>

        <h3>Clients</h3>
        <table>
            <tr>
                <th>Name </th>
                <th>VAT </th>
                <th>Country </th>
            </tr>
            {% for company in companies %}
                {% if company.type == 'Cli' %}
                    <tr>
                        <td> {{ company.name }}</td>
                        <td> {{ company.vat_num }}</td>
                        <td> {{ company.country_value }}</td>
                        <td><a href="{% url 'office:company-detail' slug=company.slug %}">voir</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>

        <h3>Fournisseurs</h3>
        <table>
            <tr>
                <th>Name </th>
                <th>VAT </th>
                <th>Country </th>
            </tr>
            {% for company in companies %}
                {% if company.type == 'Prov' %}
                    <tr>
                        <td> {{ company.name }}</td>
                        <td> {{ company.vat_num }}</td>
                        <td> {{ company.country_value }}</td>
                        <td><a href="{% url 'office:company-detail' slug=company.slug %}">voir</a></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endblock %}