{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}<title>Cogip</title>  {% endblock %}

    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <picture class="cogip-logo">
        <img src="https://res.cloudinary.com/stebydev/image/upload/v1656930654/cogip_dee2di.png" alt="Logo de Cogip">
    </picture>
    <nav>
        <a href="{% url 'home' %}">Accueil</a>
        <a href="{% url 'office:invoice-home' %}">Factures</a>
        <a href="{% url 'office:company-home' %}">Sociétés</a>
        <a href="{% url 'office:contact-home' %}">Contacts</a>
        {% if request.user.is_authenticated %}
            <a href="{% url 'home' %}">Admin</a>
        {% else %}
            <a href="{% url 'home' %}">Connexion</a>
        {% endif %}

    </nav>

    <main id="office">
        {% block content %}

        {% endblock %}
    </main>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>